


<!-- Navigation -->
  <div ng-if="user.usuario == null" >
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                 
                    <li>
                        <a ui-sref="menu.login">Login</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
</div>


  <div ng-if="user.usuario != null" >
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                 
                <li>
                           <a ng-Click="Desloguear()">Deslogueo</a>
                    </li>


                    <li>
                        <a ui-sref="menu.grilla">GRILLA Y ABM</a>
                    </li>


                    <li>
                        <a ui-sref="menu.alta">Alta</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
</div>



    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                 <center> <h1><font color="white">LOGIN</font></h1>   </center>  
       <p>
        <input type="text" value="" placeholder="ingrese correo" ng-model="usuario.usuario" required />
        </p>
         <p>
        <input type="password" value="" placeholder="ingrese password" ng-model="usuario.clave" required  />
        </p>
        <input type="button" id="Ingreso" ng-disabled='formIngreso.$invalid' class="button" ng-Click="Logueo()" name="Ingreso" value="ingreso" />
        </div>

  

        </form>


     
    </div>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            
                            
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

  



<center> <h1><font color="white">FORMULARIO LOGIN</font></h1>   </center>  


    <form name="formIngreso" id="formIngreso" enctype="multipart/form-data" >
  <link rel="stylesheet" href="./css/estilo.css">

       <p>
        <input type="text" value="" placeholder="ingrese correo" ng-model="usuario.usuario" required />
        </p>
         <p>
        <input type="password" value="" placeholder="ingrese password" ng-model="usuario.clave" required  />
        </p>
        <input type="button" id="Ingreso" ng-disabled='formIngreso.$invalid' class="button" ng-Click="Logueo()" name="Ingreso" value="ingreso" />
        </div>

  

        </form>


     
    </div>

 

